{{define "styles"}}{{template "estilos_tarima" .}}{{end}} {{define "content"}}
<div class="container my-2">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="card">
                <div class="card-header d-flex flex-wrap align-items-baseline gap-2 no-print">
                    <h5 class="mb-0">Formulario de Nueva Tarima</h5>
                    <small class="text-muted">
                        Complete los campos para registrar una nueva tarima
                    </small>
                </div>
                <div class="card-body p-3">{{template "form_tarimas" .}}</div>
            </div>
        </div>
    </div>
</div>
{{end}}
